# Binaries
/blexios
/blexios.exe
/*.exe

# Build output
/bin/
/obj/

# Go deps and cache
/.cache/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
*.swp

# Demo generated artifacts
/examples/doc/*.pdf
